<!DOCTYPE html>
<html lang="ko">
<head>
  <title>[[TITLE]]</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-dark.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css" />
  <link rel="stylesheet" href="/blog.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script type="text/javascript">
    function ProcessTags(text) {
      if(text.lastIndexOf("Tags: ") == -1) return text;
      var tagstr = text.substring(text.lastIndexOf("Tags: ") + 6).replace(/ /g, "");
      var tags = tagstr.split(",");
      var ret = "Tags: ";
      for(let t of tags) {
        ret += "<a href=\"tags.html?t=" + t.replace(/ /g, "") + "\">" + t.replace(/ /g, "") + "</a>";
        if(tags.indexOf(t) < (tags.length - 1))
          ret += ", ";
      }
      return text.substring(0, text.lastIndexOf("Tags: ")) + ret;
    }
  </script>
</head>
<body>
  <div id="header" class="header">[[HEADER]]</div>
  <div class="layout">
    <div id="content" class="markdown-body"></div>
  </div>
  <div id="footer" class="footer">[[FOOTER]]</div>
  <div id="data">[[DATA]]</div>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: false });
    const mermaidRenderer = { name: 'code', level: 'block',
                              renderer({ lang, text }) {
                                if(lang !== 'mermaid') return false;
                                return "<pre class=\"mermaid\">" + text + "</pre>";
                              }};
    marked.use({ extensions: [mermaidRenderer] });
    var text = document.getElementById("data").innerText;
    document.getElementById("content").innerHTML = marked.parse(ProcessTags(text));
    mermaid.run();
    hljs.highlightAll();
  </script>
</body>
</html>
